target/META-INF/mule-src/worldtime-app/src/main/mule/worldtime-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8c9bbdc-8b87-42ab-a776-8f47760ad010" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6e653984-4fb0-49ab-89e8-1de42514814a" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtime-appFlow" doc:id="5b9a4117-f9a4-4687-9b12-0f948cf75c4b" >
		<http:listener doc:name="Listener" doc:id="5af94bc7-fcb6-4586-b683-4606b209e77c" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="e0559669-fe40-4073-a422-e0864f4f96cd" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="289e461a-638f-471e-bf36-529a2b945dd8" message="#[payload]"/>
	</flow>
</mule>
